HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
.idea/**
*.iml
*.iws
*.ipr

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build folders
build/
!**/src/main/**/build/
!**/src/test/**/build/
out/
bin/
dist/

# Compiled files
*.class
*.jar
*.log

# VS Code
.vscode/

# Environment files
.env
.env.local
application-local.properties

# OS files
.DS_Store